/* common css */
@keyframes heading-anim {
    from {left: 0px;}
    to {left: 90px;}
}

@font-face {
    font-family: muli;
    src: url(../fonts/Muli.ttf);
}

@font-face {
    font-family: muli-bold;
    src: url(../fonts/Muli-Bold.ttf);
}
body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: var(--main-font);
    box-sizing: border-box;
}

 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   }

:root {
    --main-color: #2D5BDB;
    --heading-color: #232323;
    --text-color: #616161;
    --main-font: 'Muli', sans-serif;
}

.container {
    border: 0px solid #000;
    width: 1170px;
    margin: 0 auto;
}
.section {
    padding-top: 90px;
    padding-bottom: 90px;
}
h1,h2.h3 {
    font-family: muli-bold , sans-serif ;
}
.flex {
    display: flex;
}
.p-big {
    font-size: 18px;
}

.common-head h2 {
    font-size: 42px;
    color: var(--heading-color);
    font-family: muli-bold;
}

.common-head h2 span {
    color: var(--main-color);
}

.common-head .line-break {
    width: 100px;
    height: 5px;
    background-color: #aec6ef ;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
}

.common-head .line-break::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: var(--main-color);
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left: 0px;
    animation: heading-anim 2.5s linear infinite  ;
}

.tag-line {
    display: block;
    color: var(--main-color);
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 20px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* info-bar */
#info-bar {
    background-color: var(--main-color);
    color: #fff;
    padding: 12px 0px;
}

#info-bar a {
    color: #fff
}

#info-left {
    display: flex;
    margin-right: auto;
    gap: 14px;
}

#info-left .fa {
    margin-right: 6px;
}

#social-links-top {
    display: flex;
    gap: 14px;
}

#menu-bar {
  
    position: sticky;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .12);
    top: 0px;
    z-index: 2;
}
#menu-bar .container {
    padding: 0px 50px 0px 35px;
}

#menu {
    display: flex;
    margin-left: auto;
    font-size: 16px;
}

#menu li a {
    color: #000;
    /* border: 1px solid red; */
    display: block;
    /* margin-top: 10px; */
    padding: 38px 16px;
    transition: all .3s;


}
#menu li a:hover {
    color: var(--main-color);
}
#menu-bar .logo img {
    margin-top: 35px;
}

.menu-btn {
    font-size: 16px;
    line-height: 32px;
    color: #fff;
    background-color: var(--main-color);
    border-radius: 3px;
    display: inline-block;
    padding: 0px 8px;
    margin-left: 10px;
    margin-top: 30px;
}

/* banner */
#banner {
    height: 900px;
    background: url(../images/banner.jpeg) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

}

#banner-desc {
    width: 50%;
}

#banner-desc h1 {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
}

#banner-desc p {
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    display: inline-block;
    margin: 30px 0px 25px 0px;
}

#banner-desc .btn {
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    background-color: var(--main-color);
    border-radius: 3px;
    padding: 17px 46px;
    display: inline-block;
    transition: all .2s;
}
#banner-desc .btn:hover {
    background-color: rgb(7, 135, 221);
}

#service-box-1 .flex {
    gap: 20px;

}

#service-box-1 .service-box-1 {
    background-color: #fff;
    text-align: center;
    padding: 28px 19px;
    /* width: 100px; */
    border-radius: 7px;
    transform: translateY(-40%);
    box-shadow: 6px 5px 30px 0px rgba(0, 0, 0, .12);
    transition: all .3s;
}

#service-box-1 .service-box-1:hover {
    transform: translateY(-43%);
    background-color: var(--main-color);
    color: #fff;
    box-shadow: 0px;
}

#service-box-1 .service-box-1:hover .fa,
.service-box-1:hover h3,
.service-box-1:hover p {
    color: #fff;
}

.service-box-1 .fa {
    color: var(--main-color);
    font-size: 50px;
    margin-bottom: 32px;

}

.service-box-1 h3 {
    color: var(--heading-color);
    font-family: muli;
    font-size: 18px;
    margin-bottom: 18px;
}

.service-box-1 p {
    color: var(--text-color);
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 20px;
}
#about {
    padding-bottom: 90px;
}
.about-box {
    display: flex;
    gap: 25px ;
    margin-bottom: 40px;
}
.about-box p {
    color: var(--text-color);
}
.about-box .fa {
    display: block;
    height: 70px;
    width: 70px;
    font-size: 40px;
    font-weight: 400;
    line-height: 70px;
    text-align: center;
    /* padding-left: 18px; */
    border-radius: 50%;
    background-color: #0C5ADB2E ;
    color: var(--main-color);
    transition: all .3s;

}
.about-box:hover .fa {
    background-color: var(--main-color);
    color: #fff;
}
#about-content .about-box h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--heading-color);
}
#about-content .about-box p {
    color: var(--text-color);
    font-size: 17px;
    line-height: 25px;
    margin-top: 8px;
}
#about-content .p-big {
    color: var(--text-color);
    margin-top: 35px;
    margin-bottom: 30px;
    line-height: 27px;
}

#services {
    background-color: #181B2D;
}
#services .flex {
   
    flex-wrap: wrap;
    gap: 20px;
}
#services .common-head {
    text-align: center;
    width: 60% ;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
}
#services .common-head .line-break {
    margin-left: auto;
    margin-right: auto;
}
#services .common-head h2 {
    color: #fff;
}
.service-box-2 {
    color: #fff;
    background-color: #232435;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
    border-radius: 5px;
    padding: 28px 27px 28px 27px;
    text-align: left;
    flex-basis: 32.1%;
    transition: all .3s;
}
.service-box-2:hover {
    background-image: url(../images/sb-3-image.jpeg);
    background-size: 100%;
    box-shadow: none;
    transform: translateY(-6px);
}
.service-box-2 .fa {
    font-size: 32px;
    color: #fff;
    background-color: var(--main-color);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    line-height: 70px;
    text-align: center;
    display: block;
}

.service-box-2  h3 {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 12px;
}

.service-box-2 p {
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 22px;
}
#services .service-box-2 a {
    color: #fff;
    display: inline-block;
    margin: 0px;
    /* height: 16px; */
}
#services .service-box-2 a .fa {
   font-size: 16px;
   font-weight: 100;
    background-color: transparent;
    display: inline-block;
   
}
/* our team */

#our-team .common-head {
    text-align: center;
    width: 60% ;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}
#our-team .common-head .line-break {
    margin-left: auto;
    margin-right: auto; }
    #our-team .flex {
        gap: 20px;
        padding-left: 20px;
    }

.team-box .team-image {
        position: relative;
        overflow: hidden;
        border-radius: 6px 6px 0px 0px;
    }
.team-box .team-image ul {
    width: 85%;
    padding: 16px 0px;
    display: flex;
    position: absolute;
    bottom: -12%;
    left: 8%;
    justify-content: center;
    background-color: var(--main-color);
    gap: 25px;
    transition: all .3s;
}
.team-box:hover .team-image ul{
    bottom: 0%;

}
.team-image-filter {
    transition: all .3s;
}
.team-box:hover .team-image-filter {
    filter: contrast(45%) brightness(140%);
    
}

.team-box .team-image ul li .fa{
    display: inline-block;
    color: #fff;
    font-size: 16px;
}
.team-box .team-desc {
    text-align: center;


}
.team-box .team-desc h3 {
    color: var(--heading-color);
    font-size: 19px;
    font-weight: 700;
    margin: 30px 0px 10px 0px;
}
.team-box .team-desc .team-desig {
    font-size: 13px;
    color: var(--main-color);
    text-transform: uppercase;
}
/* case study */
#case-study .common-head {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}
#case-study .common-head .line-break {
    margin-left: auto;
margin-right: auto; }

#case-study {
    background-color: #eff2f7;
}
#case-study .flex {
    flex-wrap: wrap;
    gap: 25px;
}
#case-study .case {
    width: 31.9%;
    /* border: 2px solid red; */
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
#case-study .case:hover::before{
    content: "";
    background-color: #fff;
    opacity: .8;
    width: 100%;
    height: 100%;
    position: absolute;  
}
#case-study .case::after{
    content: "";
    background-color: rgba(12,90,219,.85);
    /* opacity: .8; */
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 0%;
     transform:rotatex(200deg); 
    z-index: 1; 
    transition: all .5s ease-in;
}
#case-study .case:hover::after{
    transform: rotatex( 180deg) ;
    transition-delay: .5s;
    top: 0%;
}

#case-study .case img {
    width: 100%;
}
#case-study .case .case-detail {
    background-color: #fff;
    border-radius: 5px;
    width: 80%;
    padding: 20px 0px;
    text-align: center;
    position: absolute;
    z-index: 2;
    bottom: -21%;
    left: 10%;
    transition: all .5s;

}
#case-study .case:hover .case-detail {
    bottom: 10%;
}

#case-study .case .case-detail h3 {
    font-size: 20px;
    font-weight: 600;
}
#case-study .case .case-detail h3 a {
    color: #000;
}
#case-study .case .case-category {
    color: var(--main-color);
    font-size: 17px;
    margin-top: 8px;
    display: block;
}

/* process */
#process .common-head {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}
#process .common-head .line-break {
    margin-left: auto;
margin-right: auto; }
 
#process .flex {
    gap: 50px;
}
.process-box {
    text-align: center;
    position: relative;
    flex-basis: 31.6%;
}
.process-box::after{
    content: "";
    display: block;
    background: url(../images/direction-sign.png) no-repeat;
    height: 40px;
    width: 200px;
    background-size: contain;
    position: absolute;
    top: 0;
    right: -38%;
}
.process-box:last-child::after {
    background: none;
}
.process-icon {
    color: #fff;
    background: linear-gradient(90deg, rgba(30,85,189,1) 0%, rgba(67,126,235,1) 100%);
    border-radius: 50%;
    height: 120px;
    width: 120px;
    line-height: 120px;
    text-align: center;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 130px;
    
}
.process-icon::after {
    content: "";
    border: 2px solid #ddd;
    border-radius: 50%;
    display: block;
    width: 10px;
    height: 10px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;

}
.process-icon::before {
    content: "";
    margin: auto;
    width: 2px;
    height: 40px;
    border-left: 2px solid #ddd;
    border-radius: 50%;
    bottom: -78px;
    position: absolute;
    left: 0;
    right: 0;
}
.process-icon .fa {
    display: block;
    font-size: 50px;
    line-height: 120px;
}
.process-box h3 {
    font-size: 20px;
    color: var(--heading-color);
    margin-bottom: 20px;
}
.process-box p {
    font-size: 16px;
    color: var(--text-color);
    line-height: 22px;
}
.process-icon .process-count {
    color: #0C5ADB;
    background-color: #fff;
    font-size: 16px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 10px #cccccc;
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
    right: -5px;
}
#counter {
    background: url(../images/dark-bg.jpg);
    color: #fff;
    text-align: center;
    position: relative;
    
}
#counter .counter-icon .fa {
    background-color: var(--main-color);
    display: block;
    text-align: center;
    border-radius: 50%;
    height: 85px;
    width: 85px;
    line-height: 85px;
    font-size: 30px;
    font-weight: 900;
    margin: auto;
    animation: counter-icon-anim .8s ease-in-out infinite ;
    animation-delay: .5s;
}

@keyframes counter-icon-anim {
    0%{rotate: 0deg;}
    10% {rotate: -25deg;}
    20% {rotate: 25deg;}
    30% {rotate: -25deg;}
    40% {rotate: 25deg;}
    50% {rotate: 0deg;}
    100%{rotate: 0deg;}
}
#counter .counter-details {
    width: 70%;
    margin: auto;
    line-height: 50px;
}
#counter .counter-details h2{
    font-family: muli-bold;
    font-size: 48px;
    font-weight: 800;
    margin-top: 40px;
    margin-bottom: 30px;

}
#counter .counter-details p {
    padding: 0;
    display: block;
    width: 56%;
    line-height: 22px;
margin: auto;
}

.counter-details::after {
    content: "";
    background-color: var(--main-color);
    display: block;
    height: 100px;
    width: 2px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30PX;
}

#counter-number {
    display: flex;
    gap: 30px;
    align-content: center;
    justify-content: space-around;
    width: 80%;
    background-color: #fff;
    /* background-image: url(../images/about-img-2.png); */
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
    padding: 50px 30px 50px 30px;
    position: absolute;
    bottom: -18%;
    right: 0;
    left: 0;
    
    
}

#counter-number .counter-box {
    display: flex;
    color: #000;
    font-size: 20px;
}
#counter-number .counter-box .fa {
    color: #fff;
    background-color: var(--main-color);
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 30px;
    border-radius: 50%;
    /* margin-top: 10px; */
    margin-right: 10px;
    display: block;
}

#counter-number .counter-box h3 {
    font-size: 42px;
    font-family: muli-bold;
    color: var(--heading-color);
    font-weight: 900;
}
#counter-number .counter-box span {
    display: block;
    font-size: 12px;
    color: var(--text-color);
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
}
/* testimonial */
#testimonial .common-head {
    text-align: center;
    width: 60% ;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
#testimonial .common-head .line-break {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}
#testimonial {
    background-color: #EFF2F7;
}
#testimonial .section {
    padding-top: 210px;
}
#testimonial .section h2 {
    font-weight: 900;
    line-height: 50px;
    font-family: muli-bold;
}
#testimonial p {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 550;
    text-align: center;
    display: block;
    width: 80%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}